<%var session_title = {0:"Latest product", 4:"Mens Clothing", 8:"Babies Clothing", 12:"Cosmetic"}; %>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Main page</title>
	<link rel="stylesheet" href="/main/css/main_styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="jquery-3.3.1.js"></script>
	<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
	<script src="/main/main.js"></script>
</head>
<body>
	<%- include('../h&f/header.ejs')%>
	<nav class="nav-bar">
		<ul class="nav-topic-block">Search by brand
			<li class="nav-block">Apple
				<ul>
					<li class="nav-block">Apple watch</li>
					<li class="nav-block">Iphone</li>
					<li class="nav-block">Ipad</li>
				</ul>
			</li>
			<li class="nav-block">Toyota</li>
			<li class="nav-block">Sony
				<ul>
					<li class="nav-block">Playstation</li>
					<li class="nav-block">Sony phone</li>
				</ul>
			</li>
			<li class="nav-block">Samsung</li>
		</ul>
		<ul class="nav-topic-block">Search by catorgories</ul>
	</nav>
	<section id="image-slider">
		<div class="left-btn">
			<img class="left-slider-button"src="../mainPage_p/left-button.png" alt="leftbutton">
		</div>
		<div class="image-collector">
			<img src="../mainPage_p/ps4.jpg" alt="ps4" class="active first">
			<img src="../mainPage_p/xbox.jpg" alt="xbox">
			<img src="../mainPage_p/switch.jpg" alt="switch" class="last">
		</div>
		<div class="right-btn">
			<img class="right-slider-button" src="../mainPage_p/right-button.png" alt="rightbutton">
		</div>
	</section>
	<section class="product-part">
		<h2 class="session-title">Best seller</h2>
		<% for(var i=0; i<16; i+=4) {%>
			<div class="product-section-title">
				<a><%= session_title[i] %></a>
				<div class="product-subsection">
					<% for(var j=0;j<4;j++) {%>
					<a href="test/product_id=<%= id[j+i]%>" class="product-subsection-a">
						<section class="item-section">
							<figure><img class="item-img" src='<%= image[j+i]%>' alt="item"></figure>
							<div class="item-body">
								<h3 class="item-name"><%= name[j+i]%></h3>
								<div class="item-price"><%= price[j+i]%> HKD</div>
							</div>
						</section>
					</a>
					<% } %>
				<span class="view-all"><a href="../product/categories.php?categories_name=<?php echo $session_title[$i] ?>">view all</a></span>
			</div>
		</div>
		<%}%>
	</section>
	<%- include('../h&f/footer.ejs')%>
</body>
</html>