<%var session_title = {0:"Latest product", 4:"Mens Clothing", 8:"Babies Clothing", 12:"Cosmetic"}; %>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/main/css/main_styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="jquery-3.3.1.js"></script>
	<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
	<script src="/main/main.js"></script>
</head>
<body>
	<div id="head-bar">
		<span class="logo">
			<img src="../mainPage_p/logo.svg" alt="logo">
		</span>
		<div class="search-bar">
			<input type="text" placeholder="Search..">
			<button type="submit">Submit</button>
			<% if(login == true) {%>
				<button type="submit"><a href="../login/logout.php">Logout</a></button>
				<button><a href="user_home.html">User profile
				</a></button>
			<% }else{ %>
				<button type="submit"><a href="login.html">Login</a></button>'
			<% } %>
		</div>
	</div>
	<nav class="nav-bar">
		<ul class="nav-topic-block">Search by brand
			<li class="nav-block">Apple
				<ul>
					<li class="nav-block">Apple watch</li>
					<li class="nav-block">Iphone</li>
					<li class="nav-block">Ipad</li>
				</ul>
			</li>
			<li class="nav-block">Toyota</li>
			<li class="nav-block">Sony
				<ul>
					<li class="nav-block">Playstation</li>
					<li class="nav-block">Sony phone</li>
				</ul>
			</li>
			<li class="nav-block">Samsung</li>
		</ul>
		<ul class="nav-topic-block">Search by catorgories</ul>
	</nav>
	<section id="image-slider">
		<div class="left-btn">
			<img class="left-slider-button"src="../mainPage_p/left-button.png" alt="leftbutton">
		</div>
		<div class="image-collector">
			<img src="../mainPage_p/ps4.jpg" alt="ps4" class="active first">
			<img src="../mainPage_p/xbox.jpg" alt="xbox">
			<img src="../mainPage_p/switch.jpg" alt="switch" class="last">
		</div>
		<div class="right-btn">
			<img class="right-slider-button" src="../mainPage_p/right-button.png" alt="rightbutton">
		</div>
	</section>
	<section class="product-part">
		<h2 class="session-title">Best seller</h2>
		<% for(var i=0; i<16; i+=4) {%>
			<div class="product-section-title">
				<a><%= session_title[i] %></a>
				<div class="product-subsection">
					<% for(var j=0;j<4;j++) {%>
					<a href="test/product_id=<%= id[j+i]%>" class="product-subsection-a">
						<section class="item-section">
							<figure><img class="item-img" src='<%= image[j+i]%>' alt="item"></figure>
							<div class="item-body">
								<h3 class="item-name"><%= name[j+i]%></h3>
								<div class="item-price"><%= price[j+i]%> HKD</div>
							</div>
						</section>
					</a>
					<% } %>
				<span class="view-all"><a href="../product/categories.php?categories_name=<?php echo $session_title[$i] ?>">view all</a></span>
			</div>
		</div>
		<%}%>
	</section>
	<footer class="footer">
		<nav>
			<div class="footer-cell">
				<h2 class="footer-cell-header">More Info</h2>
				<ul>
					<li class="footer-cell-li">About our company</li>
					<li class="footer-cell-li">Career</li>
					<li class="footer-cell-li">News</li>
					<li class="footer-social-link footer-cell-li">
						<a href="https://zh-hk.facebook.com/">
							<i class="fa fa-facebook"></i>
						</a>
						<a href="https://twitter.com/?lang=zh-tw">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="footer-cell">
				<h2 class="footer-cell-header">Help</h2>
				<ul>
					<li class="footer-cell-li">Cargo problems</li>
					<li class="footer-cell-li">Account problems</li>
					<li class="footer-cell-li">Customer services</li>
				</ul>
			</div>
			<div class="footer-cell-longer footer-cell">
				<h2 class="footer-cell-header">Documentary</h2>
				<div class="longer-cell">
					<ul>
						<li class="footer-cell-li longer-cell-li">Rule of buying stuff</li>
						<li class="footer-cell-li longer-cell-li">Rule of using your account</li>
						<li class="footer-cell-li longer-cell-li">Rule of scraping this web</li>
					</ul>
					<ul>
						<li class="footer-cell-li longer-cell-li">HK law</li>
						<li class="footer-cell-li longer-cell-li">Protect your rights</li>
					</ul>
				</div>
			</div>
		</nav>
	</footer>
</body>
</html>