 <!DOCTYPE html>
 <html lang="en">
 <head>
 	<meta charset="UTF-8">
 	<title>Home</title>
 </head>
 <% if(name == null){%>
 	<body>
 		<h1>Your cart is empty</h1>
 		<br>
 		<a href="main.html">Return</a>

 	</body>
 	<% }else{ %>
 	<body>

	 	<% for(let i=0; i<name.length;i++) {%>
	 		 <section class="item-section" order="<%= i %>">
	 		 	<figure><img class="item-img" src='<%= image[i]%>' alt="item"></figure>
	 		 	<div class="item-body">
					<h3 class="item-name"><%=name[i]%></h3>
					<div class="item-price"><%=price[i]%> HKD</div>
				</div>
				<button type="button" id="remove_btn<%= i %>" onclick="remove(<%= i %>)">Remove</button>
			</section>
		<% } %>
		<br>
 		<button id="sorting_DSD">Most expensive</button>
 		<button id="sorting_ASD">Cheapest</button>
		<br>
		<button class="pay-btn">Payment</button>
	 	<br>
	 	<button class="clear-btn">Clear Cart</button>
	 	<br>
	 	<a href="main.html">Return</a>
	 <script src="../jquery-3.3.1.js"></script>
	 <script>
	 	$(document).ready(function(){
	 			$('#sorting_DSD').click(function(){
	 				priceList = []
	 				<%for(let i=0;i<price.length;i++){%>
	 					priceList.push(<%=price[i]%>)
	 				<%}%>
	 				var newOr = sorting(priceList).DSD()
	 				writeOrder(newOr)
	 			})

	 			$('#sorting_ASD').click(function(){
	 				priceList = []
	 				<%for(let i=0;i<price.length;i++){%>
	 					priceList.push(<%=price[i]%>)
	 				<%}%>
	 				var newOr = sorting(priceList).ASD()
	 				writeOrder(newOr)
	 			})


	 			// $('.pay-btn').click(function(){
	 			// 	if(confirm('Payment would be done if you clicked confirm')){
	 			// 		$.get("/user/payment");	
	 			// 		var section = document.getElementsByTagName('section');
	 			// 		for(let z = 0; z < section.length; z++){
	 			// 			section[z].style.display = 'none';
	 			// 		}
	 			// 		var body = document.getElementsByTagName('body')
	 			// 		var h1 = document.createElement('h1')
	 			// 		var text = document.createTextNode('Your cart is empty')
	 			// 		h1.appendChild(text);
	 			// 		body[0].appendChild(h1);

	 			// 	}else{
	 			// 		alert('Payment haven\'t proceed')
	 			// 	}

	 			// })

	 			$('.pay-btn').click(function(){
	 				if(confirm('Payment would be done if you clicked confirm')){
	 					$.ajax({url: '/user/payment'}).done(function (data) {
	 				 		if(data == 1){
	 				 			alert('You dont have enough money, the payment have been cancelled');
	 				 		}else{
		 						var section = document.getElementsByTagName('section');
		 						for(let z = 0; z < section.length; z++){
		 							section[z].style.display = 'none';
		 				 		}
		 							var body = document.getElementsByTagName('body')
		 				 			var h1 = document.createElement('h1')
		 				 			var text = document.createTextNode('Your cart is empty')
		 							h1.appendChild(text);
		 				 			body[0].appendChild(h1);
	 				 		}
	 					})
	 				}else{
	 					alert('Payment haven\'t proceed')
	 				}
	 			});


				$('.clear-btn').click(function(){
					if(confirm('all your item would lost if you clear the cart')){
						$.get("clear_cart");
						var section = document.getElementsByTagName('section')
						for(let i=0;i<section.length;i++){
							section[i].style.display = 'none'
						}
						alert("clear cart");
					}
				})
				$('.drop-btn').click(function(){
					clear = {'boolean':"2"};
					$.get("../cart/cart_clear.php",clear );
					alert("drop cookie");
				})
			})


		 	function remove(order){
		 		var btn_name = 'remove_btn'+order;
		 		var btn = document.getElementById(btn_name);
		 		btn.parentElement.style.display = 'none';
		 		$.get('/remove_item='+order);
		 	}

		 	function sorting(price){
		 		var orderObj = {};
		 		var NewPriceList = price;
		 		var NewOrder = []
		 		NewPriceList.forEach(function(item, index){
		 			orderObj[item] = index
		 		})
		 		// NewPriceList.sortDSD(function(num1, num2){
		 		// 	return num1 - num2
		 		// })

		 		// NewPriceList.forEach(function(item, index){
		 		// 	NewOrder.push(orderObj[item])

		 		// })
		 		// return NewOrder
		 		return{
		 			DSD: (function(){
		 				NewPriceList.sort(function(num1, num2){	return num1 - num2 })
		 				NewPriceList.forEach(function(item, index){ NewOrder.push(orderObj[item]) })
		 				return NewOrder;
		 			}),
		 			ASD: (function(){
		 				NewPriceList.sort(function(num1, num2){	return num2 - num1 })
		 				NewPriceList.forEach(function(item, index){ NewOrder.push(orderObj[item]) })
		 				return NewOrder;
		 		})
		 	}
		 }

		 	function writeOrder(OrderList){
		 		var order = OrderList;
		 		var name_list = [];
		 		var image_list = [];
		 		var price_list = [];
		 		var length = "<%=name.length%>"
		 		for(let i=0; i< length ;i++){
		 			var section = document.getElementsByTagName('section')[0];
		 			section.outerHTML = '';
		 		}
		 		<% for(let i=0; i< name.length; i++){%>
		 				name_list.push("<%=name[i]%>")
		 				image_list.push('<%=image[i]%>')
		 				price_list.push("<%=price[i]%>")
		 		<%}%>
		 		order.forEach(function(item, index){
		 			var section = document.createElement('section');
		 			var figure = document.createElement('figure');
		 			var img = document.createElement('img');
		 			img.src =  image_list[item].replace('\f','\\f')
		 			var l_div = document.createElement('div');
		 			var h = document.createElement('h');
		 			var s_div = document.createElement('div');
		 			var btn = document.createElement('button')
		 			var body = document.getElementsByTagName('body')[0]

		 			var name = name_list[item]
		 			var price = price_list[item]
		 			var image_url = image_list[item].replace('\f','\\f')

		 			var n = document.createTextNode(name)
		 			h.appendChild(n)
		 			var m = document.createTextNode(price)
		 			s_div.appendChild(m)
		 			l_div.appendChild(h)
		 			l_div.appendChild(s_div)
		 			figure.appendChild(img)
		 			section.appendChild(figure)
		 			section.appendChild(l_div)
		 			var btn_t = document.createTextNode('Remove')
		 			btn.appendChild(btn_t)
		 			btn.setAttribute("id", 'remove_btn'+item);
		 			btn.setAttribute("onclick", 'remove('+item+')');
		 			btn.setAttribute("type", 'button');
		 			section.appendChild(btn)
		 			body.insertBefore(section, body.childNodes[0])
		 		})


		 	}

	 </script>
 	</body>
 	<% } %>
 </html>